DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
TEST_DISCORD_BOT_TOKEN=ANOTHER_DISCORD_BOT_TOKEN_FOR_TESTING
JWT_SECRET=BASE64_ENCODED_256_BIT_SECRET
POSTGRES_DB=eventpilot
POSTGRES_USER=havlli
POSTGRES_PASSWORD=REPLACE_WITH_LOCAL_DATABASE_PASSWORD
