server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param
    include-exception: true

spring:
  datasource:
    url: jdbc:postgresql://localhost:5555/eventpilot
    username: havlli
    password: password
    driver-class-name: org.postgresql.Driver
  main:
    web-application-type: servlet
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false

cache:
  redis:
    host: localhost
    port: 6379

security:
  jwt:
    secret: ${JWT_SECRET}
  cors:
    allowed-origins: "*"
    allowed-methods: "*"
    allowed-headers: "*"
    exposed-headers: "*"

discord:
  token: ${DISCORD_BOT_TOKEN}
  commands:
    folder: commands
  scheduler:
    interval-seconds: 60

#logging:
#  level:
#    org.hibernate.SQL: debug
#    org.springframework.security: trace