server:
  port: 8080
  error:
    include-message: always

spring:
  datasource:
    url: jdbc:postgresql://localhost:5555/eventpilot
    username: havlli
    password: password
  main:
    web-application-type: servlet
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

discord:
  token: ${DISCORD_BOT_TOKEN}
  commands:
    folder: commands
  scheduler:
    interval-seconds: 60